RewriteEngine On

# Handle to HTTPS
# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# CORS Allow-Origin Setting
<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin "http://localhost:3000"
  Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
  Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
  Header always set Access-Control-Allow-Credentials true
  Header always set Access-Control-Expose-Headers "Content-Security-Policy, Location"
</IfModule>

# Serve HTML for specific paths
RewriteRule ^felvetelek/.*$ index.html [L]
# Add more paths as needed

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

DirectoryIndex index.html
