RewriteEngine On

# Handle to HTTPS
# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Serve HTML for specific paths
RewriteRule ^felvetelek/.*$ index.html [L]
# Add more paths as needed

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

DirectoryIndex index.html